<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>About Us</h1>
<h5>
    <p>
<p>Surrey Wildlife Trust (SWT) is a registered charity and the only organisation concerned solely with the conservation of all forms of wildlife in Surrey. We care for more than 9,000 hectares of the county’s countryside for the benefit of people and wildlife. We are the largest Wildlife Trust in terms of land managed - being responsible for 4.5% of the county. SWT is part of a nationwide network of 47 local Trusts working to protect wildlife in towns and the countryside. Collectively, the Wildlife Trusts have 800,000 members and thousands of nature reserves.</p>

<p>A grazing agreement with the Ministry of Defence to graze Ash, Pirbright and other ranges was set up in 2006 as part of SWT's habitat management programme. The grazing team now manages a herd of 250 belted galloway cattle, a breeding herd of 75 red deer and some 56 goats. Now in its 5th year, this important conservation project now contributes to habitat management on many of our reserves. More about SWT Grazing</p>
Surrey County Council agreement with Surrey Wildlife Trust

<p>Surrey Wildlife Trust (SWT) took over the management of Surrey County Council’s (SCC) Countryside Estate in May 2002 under an agreement that was thought to be the first of its kind. Both organisations are proud of this ground-breaking partnership. Now in its 9th year, the Agreement for Services has proved to have been an unqualified success for both SWT and SCC. The Trust has been able to access significant charitable and environmental grants that were not previously available to the SCC and has thus invested heavily in the Estate, for the direct benefit of both people and wildlife of Surrey.</p>

<p>With the success of the contract SWT has since signed agreements with the MoD for the management and restoration of Lowland Heath (6000 acres) and Mole Valley District Council for parkland and woodland in the Dorking area (220 acres).</p>
SCC Countryside Estate

<p>The SCC Estate that provides open access covers 10,000 acres of the county. The Council owns 6,500 with the remainder being managed on behalf of private landowners under long term access agreements. Some of Surrey’s most treasured landscape falls within its boundaries. Flagship sites include Norbury Park, Newlands Corner and Chobham Common, the largest National Nature Reserve in the SE of England.</p>

<p>Our headquarters are in Pirbright near Woking and we have area offices in Chobham, Norbury Park and East Horsley.</p>

<p>Every year, SWT provides wildlife education to 8,000 children from three centres across Surrey and is now teaching a second generation of students to care for their natural environment.<p>

<p>We need your support to help us with our work for nature conservation and the environment.</p>

<p>Our vision is for a living landscape in Surrey</p>
<p>that is rich in wildlife and valued by all</p>
    </p>
</h5>
  </body>
</html>

