<h1>Support</h1>
    <p>
      you can get services from:
      <li><%= link_to "Download applacation form", enquiry_path %>|</li>  
      <li><%= link_to "Download Species Recorder", tools_path %>|</li>  
      <li><%= link_to "Submit your sightings", sightings_path %>|</li>
    </p>
