<h1>Recording tools</h1>

<h5><p>Species Recorder is a biological recording tool intended to make entering records onto a computer as quick, simple, and painless as possible. It is specifically designed to produce Microsoft Excel files suitable for rapid import into Recorder 2002 (and now MapMate too) via its 'Import Wizard'. It is not intended as a general purpose recording tool, although the spreadsheet files it produces can be used for your own purposes, should you wish.</p></h5	>
<p>
<div class="download_button">
<%= link_to "Download Species Recorder",:action=>"tools",:filename=>"sr_install.exe", :class => "download_button round" %>
</div>
</p>
