.container {
  width: 1010px;

}

body {
  background-image:url('back.jpg');
	margin:0;
	padding:0;
	font-size:12px;
}



right{
float: right;
margin: 2px 0px 2px 0px;
padding:0px;
width: 574px;
background: #ccd2de;
text-align:left;
}


left{
float: left;
margin: 2px 2px 0px 0px;
padding: 0px;
background: #F2F3F7;
width: 200px;
text-align:left;
}

header {
  padding-top: 15px;
  
}

header img {
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-weight: bold;
  font-size: 200%;
}


a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}



nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav li{
  list-style-type: none;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  font-weight: bold;
  padding: 30ypx;
}

nav ul {
text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {

  list-style-type: none;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  font-weight: bold;
  padding: 30ypx;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.download_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.user{
  list-style-type: none;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  font-weight: bold;
  padding: 30ypx;
float: right;
}

h3{
margin-top: 15px;
background: #F5F5F5;
}

h4
{
line-height：100px;
} 

h5{
background: #F5F5F5;
text-align:justify;
margin: 0px;

} 
.news_admin{
background-image:url('news.jpg');

}

.post{
background-image:url('news.jpg');
}


table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}


.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


